[project]
	description = Showing A Friend a Quick Rest Call
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jallirs
[access "refs/for/refs/*"]
	read = group user/jallirs
	push = group user/jallirs
	label-Code-Review = -2..+2 group user/jallirs
	label-Verified = -1..+1 group user/jallirs
	rebase = group user/jallirs
	removeReviewer = group user/jallirs
	submit = group user/jallirs
[access "refs/heads/*"]
	read = group user/jallirs
	create = group user/jallirs
	push = +force group user/jallirs
	pushMerge = group user/jallirs
[access "refs/tags/*"]
	push = group user/jallirs
	push = +force group user/jallirs
